[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
matplot = "*"
numpy = "*"
beautifulsoup4 = "*"
lxml = "*"
requests = "*"
pytest = "*"
coverage = "*"
pytest-cov = "*"
black = "*"
scipy = "*"
pandas = "*"
scikit-learn = "*"
jupyter = "*"
matplotlib = "*"
altair = "*"
spacy = "*"
spacy-lookups-data = "*"
xlrd = "*"
seaborn = "*"
PyYAML = ">=4.2"
Scrapy = "*"
ipykernel = "*"

[dev-packages]

[requires]
python_version = "3.8"
