# Unit testing, formatting, generic project utils
pytest
coverage
pytest-cov
black
pyyaml >=4.2

# Data science-y packages
numpy
scipy
pandas
scikit-learn
jupyter
matplotlib
altair
spacy
spacy-lookups-data
scrapy
xlrd
seaborn